<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kagi Small Web</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
  <div id="header">
    <div class="left">
      {% if is_youtube %}
      <a id="switch" href="{{ prefix }}">Blogs</a>
      {% else %}
      <a id="switch" href="{{ prefix }}?yt">YT</a>
      {% endif %}
      <a href="https://kagi.com/summarizer/index.html?summary=summary&url={{ url }}" target="_blank">Summarize</a>
    </div>
    <div class="right">
      <a href="{{next_url}}" class="stumble-link">
        <button>Next Post</button>
      </a>
    </div>
  </div>
  {% if is_youtube %}
  <div id="content-yt">
    <iframe src="https://www.youtube.com/embed/{{videoid}}" title="{{title}} video" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen></iframe>
  </div>
  {% else %}
  <div id="content">
    <iframe src="{{url}}"></iframe>
  </div>
  {% endif %}

  <script>
    let vh = window.innerHeight;
    document.documentElement.style.setProperty('--vh', `${vh}px`);

    window.addEventListener('resize', () => {
      let vh = window.innerHeight;
      document.documentElement.style.setProperty('--vh', `${vh}px`);
    });
  </script>
</body>

</html>